---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';
import WeekProgress from '../components/WeekProgress.astro';
---

<Layout title="Weekly calendar Iracing">
	<main>
		<Heading word1='WEEKLY' word2='CALENDAR' word3='IRACING'/>
		<WeekProgress />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
